<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<%= link_to "Back", restaurants_path %>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

<h1>See the reviews !</h1>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>Review: <%= review.content %>. Rating: <%= review.rating %></li>
  <% end %>
</ul>
